/**
 * Fonts
 */
$content:           "Lato", Helvetica, Arial, sans-serif;

/**
 * Base Colors
 */
$blue:              #037F8C;
$red:               #BF2C47;

$white:             #FAFAFA;
$gray:              #4D4D4D;

/**
 * Overrides
 */

$brand-color:       $red;
$brand-face:        $content;

$english-quotes:    false;
$use-grids:         true;
$use-island:        true;
$use-block-list:    true;
$use-media:         true;