/**
 * Fonts
 */
$content:           "Droid Serif", Georgia serif;

/**
 * Base Colors
 */
$blue:              #037F8C;
$red:               #BF2C47;

$white:             #FAFAFA;
$gray:              #3C3C3C;

/**
 * Overrides
 */

$use-grids:         true;
$use-island:        true;
$use-nav:           true;
$use-block-list:    true;
$use-matrix:        true;
$use-media:         true;
