@import "vars";
@import "inuit.css/inuit";

body {
  background: $white;
  color: $gray;
  font-family: $content;
  font-weight: 400;
}

.wrapper {
  max-width: 40rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.brand {
  border-bottom: none;
}

h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  font-weight: 500;
}

strong {
  font-weight: 500;
}

a {
  color: $blue;
  text-decoration: none;
  border-bottom: 1px solid darken($white, 20%);
  &:hover {
    border-bottom-color: $blue;
  }
}

.logo {
  color: $red;
  text-decoration: none;
}

.list {
  a {
    @include vendor(transition, all 250ms linear);
    border-bottom: none;
    .title, .info {
      display: block;
      width: 100%;
    }
    &:hover {
      background: darken($white, 5%);
    }
  }
}

.content {
  @include font-size($base-font-size * 1.25, 1.6);
}

.image {
  width: 250px;
}

blockquote {
  border-left: 3px solid rgba($blue, 0.5);
  p {
    padding-left: 1rem;
  }
}

.meta {
  background: #f9fea2;
}

::selection {
  background: $blue;
  color: $white;
}
