@import "vars";
@import "inuit.css/inuit";

body {
  background: $white;
  color: $gray;
  font-family: $content;
  font-weight: 400;
}

.wrapper {
  max-width: 40rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

strong {
  font-weight: 500;
}

a {
  color: $blue;
  text-decoration: none;
}

.logo {
  color: $red;
  text-decoration: none;
}

.list {
  .image {
    width: 200px;
  }
  a {
    @include vendor(transition, all 250ms linear);
    .title {
      margin-bottom: 1rem;
    }
    .title, .info {
      display: block;
      width: 100%;
    }
    &:hover {
      background: darken($white, 5%);
    }
  }
}

article[role="main"] {
  line-height: 1.5;
}

blockquote {
  border-left: 3px solid rgba($blue, 0.5);
  p {
    padding-left: 1rem;
  }
}

.meta {
  background: #f9fea2;
}

::selection {
  background: $blue;
  color: $white;
}
